---
import Button from "./Button.astro"
---
<div class="nav-links">
<a class="btn btn-xl btn-ghost btn-secondary" href="/">Home</a>
<a class="btn btn-primary" href="/about/">About</a>
<a class="btn btn-accent" href="/blog/">Blog</a>
<Button size="xl" type="primary">Test</Button>
</div>